@*@inject Microsoft.AspNetCore.Identity.SignInManager<Microsoft.AspNetCore.Identity.IdentityUser> SignInManager*@
@inject Microsoft.AspNetCore.Identity.SignInManager<AppointmentScheduler.Models.ApplicationUser> SignInManager
@if (SignInManager.IsSignedIn(User))
{
    <form id="logoutForm" method="post" asp-action="Logout" asp-controller="Account">
        <ul class="nav navbar-nav">
            <li class="text-white">Hello @User.Identity.Name!</li>
            <li class="nav-link text-white"> <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
        </ul> 
    </form>
      
}
else
{
    <ul class="nav navbar-nav">
        <li class="nav-item">
            @*@Html.ActionLink("Sign Up", "Register", "Account", routeValues:null, htmlAttributes: new {id="registerLink"})*@
            <a class="nav-link text-white" id="registerLink" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            @*@Html.ActionLink("Sign In", "Login", "Account", routeValues:null, htmlAttributes: new {id="loginLink"})*@
            <a class="nav-link text-white" id="loginLink" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    </ul>
}